<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>后台管理系统主页</title>
    <link rel="stylesheet" href="/files/admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/files/admin/css/houtai.css"/>
</head>
<body>
<p>恭喜注册成功</p>
<script src="/files/admin/js/jquery.min.js"></script>
<script src="/files/admin/js/bootstrap.min.js"></script>
<!-- canvas画图js -->
<script src="/files/admin/js/Chart.js"></script>
<script src="/files/admin/js/script.js"></script>
</body>
</html>