
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" style="color:#3385ff">后台管理系统</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                <li><a href="/admin/userlist"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a></li>
                <li>
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;模块管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/admin/nav"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;导航栏模块</a></li>
                        <li><a href="/admin/banners"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;焦点图模块</a></li>
                        <li><a href="/admin/news"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;主体内容</a></li>
                    </ul>
                </li>
                <li>
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;内容管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/admin/news"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;新闻管理</a></li>
                        <li><a href="/admin/products"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;产品管理</a></li>
                        <li><a href="/admin/fuwu"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;服务中心管理</a></li>
                        <li><a href="/admin/patner"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;合作伙伴管理</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;公司信息管理
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/admin/aboutus"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;&nbsp;关于我们</a></li>
                        <li><a href="/admin/contact"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;联系我们</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="../index.html"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a></li>
                        <li><a href="/admin/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;后台主页</a></li>
                    </ul>
                </li>
                <li><a href="../index.html"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
            </ul>
        </div>
        <!--导航-->
    </div>
</nav>
<!--导航-->