body{
    font-family: 'Microsoft YaHei', sans-serif;
}

/*进度条*/
.progress {
    margin-bottom: 15px;
}
/*头像*/
.wh64{
    width: 64px;
    height: 64px;
    border-radius:50% ;
}
/*边距*/
.mar_t15{
    margin-top: 15px;
}
/*padding*/
.pad0{
    padding: 0;
}
/*page-header*/
.page-header{
    margin-top: 0;
}
.page-header h1{
    margin: 0;
    font-size: 16px;
}
/*uesr_search*/
.uesr_search{
    padding: 10px;
    border: solid 1px #ddd;
    border-top: none;
}
/*tag*/
.taglist{
    padding-top: 15px;
}
.taglist .alert{
    margin: 0 15px 15px 0;
}
/*footer*/
footer{
    font-weight: 400;
    text-align: center;
    padding:20px ;
}
